<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buscar aluno</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div class="container">
            <h1 class="p-4 text-center">Student Ranking</h1>

            <div class="text-center">
                <h2 class="bg-primary text-white p-1 rounded-top m-0">Ranking</h2>

                <table class="table table-hover table-dark rounded-bottom">
                    
                    <thead>
                        <tr>
                            <th scope="col"><i class="bi bi-star"></i></th>
                            <th scope="col">Nome</th>
                            <th scope="col">Turma</th>
                            <th scope="col">Nota</th>
                        </tr>
                    </thead>

        

                    <tbody>

                        <%alunos.map((item)=>{%>
                            <tr>
                                <th scope="row"><%=item.pos%></th>
                                <td><%=item.nome%></td>
                                <td><%=item.ano+' - '+item.sala%></td>
                                <td><%=item.notaTotal%></td>
                            </tr>
                        <%})%>
                        
                        
                    </tbody>
                </table>
            </div>

            <a href="/" class="btn btn-primary">Voltar</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    </body>
</html>